table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid white;
    padding: 5px 10px;
}

body {
    background-image: linear-gradient(#ece0d1, #efe8e0, #f4f2f0);
    /*min-height: 100vh;*/
}

/*header*/
.jumbotron {
    background-image: url("https://i.pinimg.com/originals/98/33/e2/9833e22c4361d1185913336f82046a43.jpg");
    opacity: 90%;
    padding-left: 0;
    padding-right: 0;
}

.jumbotron > h1 {
    font-family: 'Chela One', cursive;
    font-size: 100px;
    background-color: transparent;
    opacity: 95%;

}

/* coffee table*/
.container {
    margin-top: 10%;
    margin-bottom: 10%;
}

.row {
    background-color: white;
    border-radius: 25px;
}

/* coffee names */
#row1 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    overflow-y: scroll;
    height: 65vh;
}

/* search coffees */
#row2 {
    border-left: solid #ece0d1;
    border-right: solid #ece0d1;
}

.new-coffee {
    margin-top: 25%;
}

/* add coffees */
#row3 {

}

h1.new-coffee {
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

#coffees {
    font-family: 'Pattaya', sans-serif;
}

div > h5 {
    font-family: 'Bebas Neue', cursive;
}

/*#firstimage {*/
/*    width: inherit;*/
/*}*/

/*#secondimage {*/
/*    width: inherit;*/
/*}*/

#tm {
    padding-top: 10px;
    padding-left: 0px;
}

/* footer */
.footer {
    background-color: #f4f2f0;
}